
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    to right top,
    #051937,
    #444564,
    #7f7795,
    #bcafc8,
    #fbeaff
  );
}

h1 {
  margin: 0;
  font-size: 1rem;
}

h1:hover,
h2:hover {
  cursor: default;
}

/* INFO */

#info {
  text-align: center;
  width: 15rem;
  color: #ffc75f;
}

#info__title {
  font-size: 2rem;
}

.info__player {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 0.1rem solid rgb(224, 224, 224);
  color: #413444;
  background: #fff;
}

.info__player__icon {
  height: 1.3rem;
  padding-top: 0.13rem;
}

.cross {
  background-image: url(assets/cross.png);
}

.circle {
  background-image: url(assets/circle.png);
}

.cross,
.circle {
  background-size: cover;
}

/* GRID */

#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 25rem;
  width: 25rem;
  grid-gap: 0.4rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  background: linear-gradient(
    90deg,
    rgba(99, 61, 0, 1) 0%,
    rgba(149, 93, 0, 1) 100%
  );
}

.grid__square {
  background-color: #fff;
  border-radius: 0.3rem;
  border: 0.1rem solid rgb(224, 224, 224);
}

.grid__square:hover {
  cursor: pointer;
}

/* INSTRUCTIONS */

#instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
}

#instructions__text {
  text-align: center;
  font-size: 1rem;
  color: #fff;
}

#instructions__btn {
  cursor: pointer;
  width: 10rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 2rem;
  background: #413444;
  border: 0.1rem solid rgb(224, 224, 224);
  color: #fff;
}

#instructions__btn:active {
  transform: translateY(0.125rem);
}

/* MODAL */

#modal {
  display: none;
  align-items: center;
  position: absolute;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #0e110eaf;
}

#modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65%;
  width: 40%;
  border-radius: 2rem;
  color: #fff;
  background: #b4a7b7;
  border: #2b3030 solid 0.1rem;
}

/* FORM */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: none;
}

input {
  margin: 1.25rem;
  font-size: 1rem;
  border-radius: 2rem;
  padding: 0.625rem 1.25rem;
}

::placeholder {
  font-style: italic;
}

input[type="submit"]:active {
  transform: translateY(0.125rem);
}

/* MEDIA QUERIES */

@media (max-width: 1100px) {
  #grid {
    width: 18.75rem;
    height: 18.75rem;
  }
  #info__title {
    margin: 0 0 1rem;
  }
  body {
    align-content: center;
  }
  #modal__content {
    text-align: center;
    height: 60%;
    width: 80%;
  }
  input {
    width: 10rem;
  }
}
